html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}


.info-box {
    background: #fff;
    padding: 5px;
    display: block; /* Make the buttons appear below each other */
}
#info-box input {
    margin-bottom: 5px;
}


.github-control {
    overflow: hidden;
}
.github svg {
    fill: #000;
    border: 0;
    position: relative;
    top: -10px;
    left: -31px;
}
.octo-arm {
    transform-origin: 130px 106px;
}
.github:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {transform:rotate(0)}
    20%, 60% {transform:rotate(-25deg)}
    40%, 80% {transform:rotate(10deg)}
}


.leaflet-sidebar-content > * {
    padding: 1em;
    display: none;
}
.leaflet-sidebar-content > *.active {
    display: block;
}

.btn-category {
    display: block;
    margin-bottom: 0.5em;
}

form {
    margin-bottom: 1em;
}
form:last-child {
    margin-bottom: 0;
}
form > * {
    margin-right: 0.5em;
}
form > *:last-child {
    margin-right: 0;
}


h2 {
    margin: 0 0 0.5em 0;
}
h3 {
    margin: 0 0 0.3em 0;
}

ul {
    padding-left: 1em;
}
