html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.item-add-control {
    background: #fff;
    padding: 5px;
    width: 30%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
.export-control {
    background: #fff;
    padding: 5px;
    display: block; /* Make the buttons appear below each other */
}


.info-box {
    background: #fff;
    padding: 5px;
    display: block; /* Make the buttons appear below each other */
}
#info-box input {
    margin-bottom: 5px;
}


.github-control {
    overflow: hidden;
}
.github svg {
    fill: #000;
    border: 0;
    position: relative;
    top: -10px;
    left: -31px;
}
.octo-arm {
    transform-origin: 130px 106px;
}
.github:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {transform:rotate(0)}
    20%, 60% {transform:rotate(-25deg)}
    40%, 80% {transform:rotate(10deg)}
}


form {
    margin-bottom: 0.5em;
}
form:last-child {
    margin-bottom: 0;
}
form > * {
    margin-right: 0.5em;
}
form > *:last-child {
    margin-right: 0;
}

h4 {
    margin: 0;
}
