html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}


.info-box {
    background: #fff;
    padding: 5px;
    display: block; /* Make the buttons appear below each other */
}
#info-box input {
    margin-bottom: 5px;
}


.github-control {
    overflow: hidden;
}
.github svg {
    fill: #000;
    border: 0;
    position: relative;
    top: -10px;
    left: -31px;
}
.octo-arm {
    transform-origin: 130px 106px;
}
.github:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {transform:rotate(0)}
    20%, 60% {transform:rotate(-25deg)}
    40%, 80% {transform:rotate(10deg)}
}


.leaflet-sidebar-content > * {
    display: none;
}
.leaflet-sidebar-content > *.active {
    display: block;
}

:root {
    --tab-padding: 11px;
}

.tab-container {
    border-left: 2px solid #ccc;
    min-height: 100%;
}
.tab-container h2 {
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: var(--tab-padding);
    box-sizing: border-box;
    margin: 0;
}
.tab-container h2 i {
    margin-right: var(--tab-padding);
}

.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active, .tab-container h2 {
    background-color: #0074d9;
}
.tab-content {
    padding: var(--tab-padding);
}

.btn-category {
    display: block;
    margin-bottom: 0.2em;
}

form {
    margin-bottom: 1em;
}
form:last-child {
    margin-bottom: 0;
}
form > * {
    margin-right: 0.5em;
}
form > *:last-child {
    margin-right: 0;
}


h3 {
    margin: 0 0 0.2em 0;
}

ul {
    padding-left: 1em;
}

hr {
    border: 1px solid #ddd;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
