.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.info-box {
    background: #fff;
    padding: 5px;
    display: block; /* Make the buttons appear below each other */
}
#info-box input {
    margin-bottom: 5px;
}

.btn-category {
    display: block;
    margin-bottom: 0.2em;
}

